ul li{
    display: inline;
    padding: 10px;
    text-align: center;
}
nav a{
    text-decoration: none;
    

}
header h1 {
    text-align: center;

}
body{
background-color:pink;

}
img{
    height: 20%;
    width: 20%;
}
footer{
    background-color: plum;
    height: 40px;

}
footer p{
    text-align: center;
    padding: 5px;
}